
.c-dEnagJ-bBzSYw-type-default {
    border-radius: 10px !important; 
    border: 1px solid #cccccc !important; 
    padding: 10px !important;
    margin-top: 0px;
}
.c-dEnagJ-bBzSYw-type-password  {
    border-radius: 10px !important; 
    border: 1px solid #cccccc !important; 
    padding: 10px !important;
    }

.LoginTitleStyling {
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-weight: 800;
    font-size: 95px;
}
.LoginContainerStyling{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    gap: 20px
}
.content {
    background: rgb(242,242,242);
}
.inputGroup{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    
}
.inputFullWidth{
    display: block;
    width: 100%;
    margin: 0px 0px 10px 0px;
    border-radius: 10px !important;
    border: 1px solid #cccccc !important; 
    font-family: Sarabun
}
.SignUpButton{
    background-color: black;
    color: white;
    border-radius: 20px; 
    max-width: 350px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    flex-grow: 1;
    font-family: Sarabun
}

.inputFullWidth, .inputGroup input {
    width: 100%; 
    padding: 12px 20px; 
    font-size: 1rem; 
    margin-bottom: 15px; 
}

.startup-buttons {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.startup-buttons button {
    margin: 10px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    background-color: rgb(242,242,242);
    border: 1px solid black;
    width: 200px;
    text-align: center;
  
}

.inputGroup select, .inputGroup input[type="text"] {
    height: 40px; 
    width: 100%;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 0 10px; 
}


html {
  font-size: 22px; 
}
input::placeholder {
    color: #888 !important; /* Update #888 to the color you wish */
  }

/* WATCHING CSS BELOW */
.fullscreen-modal .modal-dialog {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0.5rem;
  }
  
  .fullscreen-modal .modal-content {
    width: 40vw; 
    height: 70vh; 
    max-height: 100vh;
    overflow: hidden; 
  }
  